%> activeTest <%active%> activeTest <%
%> title <%Test | %> title <%
%> style <%
	<link rel="stylesheet" href="css/<% styles.testpage %>">
%> style <%
%> content <%
	<div id="app">
		<form id="calc-form" @submit.prevent="check">
			<div class="row justify-content-center">
				<div class="col-12 text-center">
					Test this out!
				</div>
				<div class="col-6 col-md-3 col-lg-2 mt-2">
					<input v-model.number="protonNumber" @focus="$event.target.select()" id="calc-input" class="w-100" type="number"
						   placeholder="P#">
				</div>
				<div class="col-6 col-md-3 col-lg-2 mt-2">
					<select v-model="protonNumber" ref="elementSelect" id="calc-select" class="w-100 h-100">
						<option value="0">Z</option>
						<option v-for="element in elements" :value="element[0]">{{ element[1] }}</option>
					</select>
				</div>
				<div class="col-12 col-md-4 col-lg-3 mt-2 text-center">
					<template v-if="protonNumber">
						<button v-if="ion > minIon" @click.prevent="changeIon(-1)" type="button" class="ion-button pb-1">-</button>
						{{ elements[elementIndex][1] }}<sup>{{ ion }}</sup>
						<button v-if="ion < maxIon" @click.prevent="changeIon(1)" type="button" class="ion-button pb-1">+</button>
					</template>
				</div>
			</div>
			<div class="row	mt-3 justify-content-center">
				<div class="col-12 text-center">
					Fill in the short configuration:
				</div>
				<div class="col-12 col-md-10 col-lg-7 mt-2">
					<input v-model="inputData" id="check-input" type="text" class="w-100 p-1" placeholder="4s2, 4p3, ..." autocomplete="off">
				</div>
			</div>
			<div class="row justify-content-center">
				<div class="col-12 col-md-10 col-lg-7 mt-2">
					<input id="calc-submit" type="submit" class="w-100 p-1" value="Check">
				</div>
			</div>
		</form>
		<div v-if="lastData" v-cloak class="text-center">
			<div class="row justify-content-center">
				<div class="col-12 col-md-10 col-lg-7 mt-2 mb-2">
					<div v-if="isCorrect" class="correct">
						{{ lastData }} is correct!<br>
						<template v-if="removeSpaces(correctSyntaxNoEx) !== this.inputDataStripped">
							Try this order next time&nbsp;😉&nbsp;:<br>
							{{ correctSyntaxNoEx }}<br v-if="isException">
						</template>
						<template v-if="isException">
							The real life version is:<br>
							{{ correctSyntax }}
						</template>
					</div>
					<div v-else-if="isExceptionCorrect" class="correct">
						{{ lastData }} is correct!<br>
						<template v-if="removeSpaces(correctSyntax) !== this.inputDataStripped">
							Try this order next time&nbsp;😉&nbsp;:<br>
							{{ correctSyntax }}<br>
						</template>
						The systematic version is:<br>
						{{ correctSyntaxNoEx }}
					</div>
					<template v-else>
						<div class="incorrect">
							{{ lastData }} is incorrect! 😕
						</div>
						<div class="correct mt-2">
							<div @click="showCorrect = !showCorrect" id="show-correct-wrap">
								<span :class="{ 'rotate-arrow': showCorrect }" class="arrow d-inline-block">▼</span>
								<span class="show-correct">Show me correct version.</span>
								<span :class="{ 'rotate-arrow': showCorrect }" class="arrow d-inline-block">▼</span>
							</div>
							<div v-if="showCorrect">
								<template v-if="isException">
									The systematic version is:<br>
								</template>
								{{ correctSyntaxNoEx }}
								<template v-if="isException">
									<br>The real life version is:<br>
									{{ correctSyntax }}
								</template>
							</div>
						</div>
					</template>
				</div>
			</div>
		</div>
	</div>
%> content <%
%> script <%
	<script src="js/<% scripts.testpage %>"></script>
%> script <%
