<FilesMatch "\.html$">
Header set Cache-Control "no-cache"
</FilesMatch>
<FilesMatch "\.(png|js|css|svg)$">
Header set Cache-Control "max-age=31536000, public"
</FilesMatch>

RewriteEngine On
RewriteCond %{REQUEST_FILENAME}.html -f
RewriteRule !.*\.html$ %{REQUEST_FILENAME}.html [L]
