#check-input {
	background-color: #282828;
	border-radius: 10px;
	border: 4px solid rgb(107, 110, 115);
	color: #fff;
	text-indent: 0.5em;
}

.correct {
	background-color: green;
}

.incorrect {
	background-color: #dc3500;
}

#show-correct-wrap {
	cursor: pointer;
}

.arrow {
	font-size: 0.75em;
	transition: 300ms;
}

.rotate-arrow {
	transform: rotate(180deg);
}

.show-correct {
	text-decoration: underline;
}
